doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title auth
    body
        include ./includes/header.pug
        h3 Authentification 
        form(action="/validation", method="post")
            label(for="identification") Utilisateur: <br>
            input(type="text", name="user" required)
            <br>
            label(for="password") Mot de passe: <br>
            input(type="password", name="password" required)
            <br>
            button(type="submit") connection
        p= text